{% extends "upbase.html" %}
{% block title %}
 Projects
{% endblock title %}
{% block body %}


<!-- header section ends -->

<div id="menu" class="fas fa-bars"></div>

<!-- home section starts  -->

<h1 class="project_title">Projects
</h1><div class="postcard__bar" style="width: 66px;
    color: green;
    height: 5px;
    background:green;
    border-radius:50px;
    border: 1px solid green;
    text-align: center;
    margin: auto;"></div>
   
<div style="margin:3%;">
   <div class="dark" style="z-index: -9999;">
        <main class="container py-5" style="z-index: -9999;">
          <div class="h1 text-center text-white" id="pageHeaderTitle"></div>
   <article class="postcard dark blue" style="z-index: 0;">
         <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="static/images/spcre.png" alt="Image Title" />
        </a> 
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a href="https://spdcreation.000webhostapp.com/"target="_blank">S.P.CREATION</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt" style="text-transform:none;"><b>S.P.CREATION</b> is the my first website in msc.it field when i learning html,css,javascript. This website provide knowledge of different courses like web development,graphic designer,ethical hacker etc. In our c language course we add some different kinds of c programs and add some IGI gaming video.</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-link"></i>             <a href="https://spdcreation.000webhostapp.com/"target="_blank" style="margin-left:8px;text-transform:none;">https://spdcreation.000webhostapp.com/</a></li>
           
          </ul>
        </div>
      </article>
    </main>
  </div>
<br><br><br>
 <div class="dark" style="z-index: -9999;">
        <main class="container py-5" style="z-index: -9999;">
          <div class="h1 text-center text-white" id="pageHeaderTitle"></div>
   <article class="postcard dark blue" style="z-index: 0;">
         <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="static/images/spdis.png" alt="Image Title" />
        </a> 
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a href="https://spdiscuss.000webhostapp.com/"target="_blank">S.P.DISCUSS</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt" style="text-transform:none;"><b>S.P.DISCUSS</b> is the my second website in msc.it field.This is the largest, most trusted online community for developers to learn, share​ ​their programming ​knowledge, and build their careers.In this website include login system.This website is provide solution of the all problems in any languages.Website purpose is improve communication skills and develop own knowledge. </div>
          <ul class="postcard__tagbox">
            <li class="tag__item "><i class="fas fa-link "></i>             <a href="https://spdiscuss.000webhostapp.com/" target="_blank"style="margin-left:8px;text-transform:none;">https://spdiscuss.000webhostapp.com/</a></li>
           
          </ul>
        </div>
      </article>
    </main>
  </div>
  <br><br><br>

   <div class="dark" style="z-index: -9999;">
        <main class="container py-5" style="z-index: -9999;">
          <div class="h1 text-center text-white" id="pageHeaderTitle"></div>
   <article class="postcard dark blue" style="z-index: 0;">
         <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="static/images/pchat.png" alt="Image Title" />
        </a> 
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a href="https://pchats.000webhostapp.com/" target="_blank">Pchats</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt" style="text-transform:none;"><b>Pchats</b> is the my third website in msc.it field.Pchats uses your phone's Internet connection to send messages so you can avoid SMS fees.In this website include login system.This website is provide communicate to each other like watsapp,messanger,etc. This website is made by html,css,javascript,php languages. </div>
          <ul class="postcard__tagbox ">
            <li class="tag__item "><i class="fas fa-link "></i>             <a href="https://pchats.000webhostapp.com/" target="_blank"style="margin-left:8px;text-transform:none;">https://pchats.000webhostapp.com/</a></li>
           
          </ul>
        </div>
      </article>
    </main>
  </div>
  <br><br><br>

   <div class="dark" style="z-index: -9999;">
        <main class="container py-5" style="z-index: -9999;">
          <div class="h1 text-center text-white" id="pageHeaderTitle"></div>
   <article class="postcard dark blue" style="z-index: 0;">
         <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="static/images/spinfo.png" alt="Image Title" />
        </a> 
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a href="https://spdiscuss.000webhostapp.com/"target="_blank">S.P.INFO</a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt" style="text-transform:none;"><b>S.P.INFO</b> is the my forth website in msc.it field.This is my portofolio.This website is provide my all projects links and all most all language cheatsheet here.This website is made by html,css,javascript,bootstrap,django. </div>
          <ul class="postcard__tagbox">
            <li class="tag__item "><i class="fas fa-link "></i>             <a href="https://spinfo.herokuapp.com/" target="_blank"style="margin-left:8px;text-transform:none;">https://spinfo.herokuapp.com/</a></li>
           
          </ul>
        </div>
      </article>
    </main>
  </div>
  <br><br><br>
</div>
{% endblock body %}
